@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.grid {
  display: grid;
  grid-template-rows: 95vh 5vh;
}

.main {
  background: linear-gradient(0.07deg, #00beb9 29.1%, #35426f 99.94%);
}

.nav {
  float: left;
  position: relative;
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 15px;
}

.container {
  height: 100%;
  background: linear-gradient(89.93deg, #00beb9 28.15%, #35426f 99.94%);
  width: 40%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form_login {
  margin-top: 4rem;
  font-family: "Poppins", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 40%;
}

.loginStudent {
  padding: 20px;
  color: #fff;
}

.user {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  gap: 10px;
  margin-top: 1em;
}

.user input {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fff;
}

.user label {
  font-size: 14px;
  color: #f2f3f4;
  font-weight: 600;
}

.button {
  background-color: #00beb9;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 13px;
  border: 1px solid #fff;
  margin-top: 2rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

button:hover {
  color: #00beb9;
  transition-duration: 1s;
}

.register {
  padding: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #ffffff;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: #f26b1d;
}

.img {
  text-align: center;
  padding-top: 7px;
}

footer {
  background-color: #35426f;
}
