@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.headerFirst {
  background-color: #35426f;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 20px;
  font-weight: 400;
}

.paragraphFirst {
  color: #fff;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.btnFirst {
  margin-right: 10rem;
  background-color: #7cdddb;
  color: #01114a;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  background-color: #f2f3f4;
}

.imgLogo {
  width: 13%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #01114a;
  }
 
.btnNav {
  background-color: #7cdddb;
  color: #01114a;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
