.navbar {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 4px;
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: space-between; 
}

.list {
  display: flex;
  list-style: none;
  align-items:center;
  
}

.item {
  margin-right: 3em;
}

.item a{
  color: #01114A;
  text-decoration: none;
}

.item a:hover {
  color: #7CDDDB;
}

